body{
    margin: 0;
    padding: 0;
    background: rgb(9, 11, 26);
}
main{
    background: rgb(9, 11, 26);
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
    font-family: 'Inter', sans-serif;
}
#img-header{
    width: 100%;
    min-height: 300px;
    position: relative;
    background-image: url(images/image-header-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}

#img-header .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(84, 17, 126, 0.596);
}

#body{
    background: rgb(27, 25, 56);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 0px 25px 25px 25px;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

#body h1{
    font-size: 30px;
    padding-top: 12px;
}

h1 span{
    color: hsl(277, 64%, 61%);
}

#body > p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    margin-bottom: 40px;
    padding: 0 10px;
}

#body .bloque{
    margin-bottom: 20px;
}

.mainp{
    line-height: 1.8;
}

#body .bloque h3{
    margin-bottom: 3px;
    font-size: 26px;
}

#body .bloque p{
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
}

@media screen and (min-width: 1440px){
    .container{
        flex-direction: row;
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 9%;
    }

    #img-header{
        order: 2;
        background-image: url(images/image-header-desktop.jpg);
        min-width: 600px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    #body{
        border-bottom-right-radius: 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 50px 120px 50px 80px;
        width: 55%;
        text-align: left;
    }

    #body h1{
        font-size: 38px;
    }

    #body p{
        padding-right: 70px;
        color: hsla(0, 0%, 100%, 0.6);
    }

    #body .bloque h3{
        margin-bottom: 10px;
    }

    .bloques{
        display: flex;
        justify-content: space-between;
    }

}


